# Default ignored files
/../../Linear-Regression /.idea/shelf/
/../../Linear-Regression /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Linear-Regression /.idea/httpRequests/
# Datasource local storage ignored files
/../../Linear-Regression /.idea/dataSources/
/../../Linear-Regression /.idea/dataSources.local.xml
